# NPM
node_modules
_bundle

# Typescript
dist
dist:check

# Tests
.husky
coverage
tmp
jest.config.js

# Environment
.env

# Samples
example

# Extensions
*.yml
*.yaml
*.json
*.svg
*.png
*.md
*.xml
*.hbs
*.template
