_bundle
dist
dist:check
node_modules
packages
coverage
tmp

jest.config.js

.env
.husky
*.yml
*.yaml

*.json
*.svg
*.png

*.md
*.xml

*.hbs
*.template

/lib/cli/create/migration/templates/
/specs/migrations/
