import { Decorators } from "@bear-hugs/nest-task";

import { AppModule } from "../../app.module";
import { $runnerName } from "./$runnerFileName";

@Decorators.Task({
    name: "$name",
    description: "$description",
    runner: $runnerName,
    module: AppModule,
    providers: [],
})
export class $taskClass {}
