import { Decorators } from "@polar-rules/nest-task";

import { AppModule } from "../../app.module";
import { $runnerName } from "./example.runner";

@Decorators.Task({
    name: "ExampleTask",
    description: "Task create for example purposes only",
    runner: $runnerName,
    module: AppModule,
    providers: [],
})
export class $taskName {}
